<!DOCTYPE html>
<html lang="en" >
<head>

    <title>Latest Additions</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/ico" href="assets/octopus_favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css" />

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="styles/source.css" />
</head>
<body ng-app="app" ng-controller="controller">

    <div class="container">

        <center>
            <md-button class="md-raised md-primary auth" ng-if="playlists === null || playlists === ''" href="/api/spotify/auth">
                <i class="fa fa-spotify"></i> authorize
            </md-button>
        </center>

        <div class="input-form" ng-if="playlists !== null && playlists !== ''">
            <md-content class="form-content">
                <form>
                    <div class="gen-playlist-details">

                        <p style="float:left;"><md-checkbox ng-model="submissionForm.overwriteExisting">Overwrite existing playlist?</md-checkbox></p>

                        <div style="float:right;">

                            <md-input-container>
                                <label>Playlist Name</label>
                                <input ng-model="submissionForm.playlistName" ng-disabled="submissionForm.overwriteExisting" required>
                                <div ng-messages="submissionForm.playlistName.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">
                                        You must accept the terms of service before you can proceed.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container>
                                <label>Number of Songs</label>
                                <input ng-model="submissionForm.numTracks" type="number" min="0"  ng-disabled="submissionForm.overwriteExisting" required>
                            </md-input-container>

                        </div>
                    </div>

                    <div class="playlist-select">

                        <div class="playlist-sort">
                            <p>
                                <label>Sort Playlists</label>
                            </p>
                            <md-radio-group ng-model="playlistSort">
                                <md-radio-button value="$index">
                                    default
                                </md-radio-button>
                                <md-radio-button value="name">
                                    alphabetical
                                </md-radio-button>
                                <md-radio-button value="owner.displayName">
                                    owner
                                </md-radio-button>
                            </md-radio-group>
                            <md-checkbox ng-model="playlistSortReverse">reverse</md-checkbox>
                        </div>

                        <md-input-container class="playlist-filter">
                            <label>Filter playlists</label>
                            <input ng-model="playlistFilter">
                        </md-input-container>

                        <div class="playlist-list">
                            <ul>
                                <li ng-repeat="playlist in playlists.items | orderBy:playlistSort:playlistSortReverse | filter:{name:playlistFilter}">
                                    <md-checkbox ng-checked="exists(playlist.uri, selectedPlaylists)" ng-click="toggle(playlist.uri, selectedPlaylists)" aria-label="playlist.name">

                                        {{playlist.name}} |&nbsp;

                                        <span ng-if="playlist.owner.displayName !== null">
                                            {{playlist.owner.displayName}}
                                        </span>

                                        <span ng-if="playlist.owner.displayName === null">
                                            {{playlist.owner.id}}
                                        </span>
                                    </md-checkbox>

                                    <a href="javascript:void(0)" class="playlist-info" ng-click="getPlaylistDetails(playlist.uri, $event)" aria-label="playlist info for {{name}}">
                                        <i class="fa fa-info-circle"></i>
                                    </a>

                                </li>
                            </ul>
                        </div>

                        <center>
                            <md-button class="md-raised md-primary" ng-if="playlists.next !== null" ng-click="loadMorePlaylists()">
                                load more
                            </md-button>
                        </center>
                    </div>
                </form>
            </md-content>

            <div class="submission">

                <md-button class="md-raised md-primary" type="submit">
                    Create playlist
                </md-button>

            </div>
        </div>

    </div>

    <script src="js/controller.js"></script>

</body>
</html>