// general
body {
	background:#f5f5f5;
	font:13px open sans;
	height:auto;
	display: flex;
  	flex-direction: column;
}

.container {
	position:relative;
	margin:auto;
	width:100%;
}

// submission input
.input-form {
	overflow:hidden;
	width:900px;
	margin:auto;
	background:#fff;
	border-radius:5px;

	md-content.form-content {
		margin:auto;
		background:#fff;
	}
}

// header
.input-header {
	border-bottom:1px solid #eee;
	padding:30px 0 20px 0;
	margin-bottom:20px;

	h1 {
		text-align:center;
		margin:0px;
	}
}


// inputs for playlist to generate
.new-playlist-details {
	float:left;
	width:50%;
	padding:0 40px;
	box-sizing:border-box;

	.overwrite-check {
		margin-bottom:20px;

		p {
			color:#555;
			font-size:11px;
		}
	}

	textarea {
		width:100%;
	}

	.checkbox-list li {
		display:inline-block;
		margin-right:20px;
	}

	md-radio-button {
		margin-bottom:5px;
	}
}

// playlist selection
.playlist-select {
	width:50%;
	float:right;
	padding:0 40px;
	box-sizing:border-box;

	.playlist-sort {
		display:block;

		md-radio-button, md-checkbox {
			margin-bottom:5px;
		}

		md-checkbox {
			float:right;
		}

		md-radio-button {
			display:inline-block;
			margin-right:20px;
		}
	}

	.playlist-filter {
		display:block;
		margin-top:20px;
		margin-bottom:-5px;
	}

	.playlist-list {
		border:1px solid #eee;
		height:200px;
		overflow:scroll;
		padding:0 5px;
		margin-bottom:10px;

		.playlist-info {
			color:#aaa;
			margin-right:15px;
			float:right;
		}

		.fa {
			margin-top:2px;
			font-size:18px;
			color:#555;
		}
	}

	.load-more {
		text-align:center;
		margin:10px 0;

		a {
			color:#888;
		}
	}
}

// playlist details popup
md-dialog.playlist-details-dialog {
	width:500px;

	md-dialog-actions {
		border-top:1px solid #eee;
	}

	.playlist-details {
		height:200px;

		td.album-art {
			height:200px;
			width:200px;

			img {
				display:block;
				height:100%;
				width:100%;
			}
		}

		td.title-owner {
			background:#eee;
			padding:20px;
			box-sizing:border-box;
			text-align:center;

			.playlist-name {
				font-weight:bold;
				font-size:20px;
			}

			.playlist-owner {
				font-style:italic;
			}
		}

		.playlist-description {
			text-align:center;
		}
	}
}

// submit button
.submission {
	padding:10px;
	border-top:1px solid #eee;
	margin-top:30px;
	text-align:right;
}

// angularjs material overrides
.checkbox-list {
	margin:0px;
	padding:0px;

	li {
		list-style-type:none;
		display:block;
		padding:0px;
		margin:5px 0;
	}
}

.footer {
	padding:20px 0;
	text-align:center;
}


md-checkbox {
	margin:0px;

	.md-icon {
		transform: scale(0.75);
		margin-top:2px;
	}

	.md-label {
		margin-left:25px;
	}
}

md-radio-button {
	.md-on {
		transform:scale(0);
		margin-top:2px;
	}
	.md-off {
		transform: scale(0.75);
		margin-top:2px;
	}

	.md-label {
		margin-left:25px;
	}
}

// mobile styles
@media screen and (max-width:900px) {

	.input-form {
		width:100%;
	}

	.new-playlist-details md-input-container {
		width:calc(50% - 10px);
	}

	md-dialog.playlist-details-dialog {
		width:80%;
	}

	.playlist-select .playlist-sort md-checkbox {
		float:none;
		margin-top:10px;
	}

	md-dialog.playlist-details-dialog .playlist-details {
		max-height:100px;

		td.title-owner .playlist-name {
			font-size:13px;
		}

		td.album-art {
			height:100px;
			width:100px;
		}
	}
}

@media screen and (max-width:768px) {
	.new-playlist-details, .playlist-select {
		float:none;
		display:block;
		width:100%;
		max-width:500px;
		margin:auto;
		padding:0 20px;
	}
}